<div class="main-container main-container--flex">
    <h1 class="main-container__title">OCR File Upload</h1>
    <p class="main-container__description">Use the button below to upload a .csv file and view the contents</p>
    <div class="main-container__total-files">Total files stored: {{policyStore.uploadCount()}}</div>

    <div class="file-upload">
        <label 
            #inputLabel 
            for="fileUpload" 
            class="btn" 
            tabindex="0" 
            role="button" 
            (keyup.enter)="clickLabel()" 
            (keyup.space)="clickLabel()" 
            [class.btn--disabled]="policyStore.uploadProcessing()">
            <span class="file-upload__icon material-symbols-outlined" aria-hidden="true">upload_file</span>
            Choose File
        </label>
        <input
            id="fileUpload" 
            class="file-upload__input" 
            type="file" 
            accept=".csv" 
            aria-hidden="true"
            (change)="uploadCsv($event)" 
            (click)="clearSelection($event)"/>
    </div>

    @if (policyStore.uploadError()) {
        <div class="error-banner" role="alert">
            <span class="error-banner__icon material-symbols-outlined" aria-hidden="true">error</span>
            {{policyStore.uploadError()}}
        </div>
    } @else if (policyStore.mostRecentUpload() && !policyStore.uploadProcessing()) {
        <table class="csv-table">
            <caption class="csv-table__title">Processed CSV data table</caption>
            <thead>
                <tr>
                    <th scope="col">Count</th>
                    <th scope="col">Policy #</th>
                    <th scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                @for (item of policyStore.mostRecentUpload(); track item.id) {
                    <tr class="csv-table__rows">
                        <td class="csv-table__id">{{item.id}}</td>
                        <td class="csv-table__number">{{item.policyNumber}}</td>
                        <td class="csv-table__valid">{{item.valid}}</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>