table {
    border-collapse: collapse;
    border: 2px solid grey;
    width: 100%;
    max-width: 600px;
}

thead {
    background-color: var(--color-main-secondary);
}

th, td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 10px;
}

tr:nth-of-type(even) {
  background-color: var(--color-main-tertiary);
}

.csv-table {
    margin-top: 40px;
}

.error-banner {
    text-align: left;
    margin-top: 36px;
    padding: 20px;
    border: solid;
    border-color: var(--color-warning);
    border-radius: 8px;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 370px;
}

.error-banner__icon {
    margin-right: 12px;
    margin-bottom: 2px;
    font-size: 1.75em;
}

.file-upload {
    margin-top: 1em;
}

.file-upload__icon {
    margin-right: 8px;
    margin-bottom: 2px;
}

.file-upload__input {
    display: none;
}

.main-container__description {
    margin-top: 0;
}

.main-container__total-files {
    margin-bottom: 1.5em;
}

.csv-table__title {
    font-size: 1.25em;
    margin-bottom: 1rem;
}