table {
  border-collapse: collapse;
  border: 2px solid grey;
}

thead {
  background-color: var(--color-main-secondary);
}

th, td {
  border: 1px solid rgb(150 150 150);
  padding: 8px 10px;
}

tr:nth-of-type(even) {
  background-color: var(--color-main-tertiary);
}

.main-container__table {
    margin-top: 40px;
}

.error-container {
    margin-top: 36px;
    padding: 20px;
    border: solid;
    border-color: var(--color-warning);
    border-radius: 8px;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.error-msg__icon {
    margin-right: 12px;
    margin-bottom: 2px;
    font-size: 1.75em;
}

.file-upload {
    margin-top: 1em;
}

.file-upload__icon {
    margin-right: 8px;
    margin-bottom: 2px;
}

.file-upload__input {
    display: none;
}