.main-container__total-files {
    margin-bottom: 1.5em;
}

.error-banner {
    text-align: left;
    margin-top: 2.5em;
    padding: 1.25em;
    border: solid;
    border-color: var(--color-warning);
    border-radius: 8px;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 370px;
}

.error-banner__icon {
    margin-right: .5em;
    margin-bottom: .125em;
    font-size: 1.75rem;
}

.file-upload {
    margin-top: 1em;
}

.file-upload__icon {
    font-size: 1.5rem;
    margin-right: .25em;
    margin-bottom: .125em;
}

.file-upload__input {
    display: none;
}

.csv-table {
    margin-top: 3em;
    border-collapse: collapse;
    border: 2px solid grey;
    width: 100%;
    max-width: 600px;

    .csv-table__title {
        font-size: 1.25em;
        margin-bottom: 1rem;
    }

    thead {
        background-color: var(--color-main-secondary);
    }

    th, td {
        border: 1px solid rgb(150 150 150);
        padding: 8px 10px;
    }

    tr:nth-of-type(even) {
        background-color: var(--color-main-tertiary);
    }
}