:root {
  --color-primary: #ffc857;
  --color-primary-100: #fbf8f3;
  --color-primary-200: #fae7b8;
  --color-primary-400: var(--color-primary);
  --color-primary-500: #e5ae25;
  --color-primary-900: #7e6115;

  --color-secondary: #167c80;
  --color-secondary-100: #E8F2F3;
  --color-secondary-200: #D0E0E1;
  --color-secondary-300: #3193ad;
  --color-secondary-400: var(--color-secondary);
  --color-secondary-500: #126568;
  --color-secondary-600: #007055;
  --color-secondary-700: #004a38;
  --color-secondary-800: #545c52;

  --color-tertiary: #8e5cd1;
  --color-tertiary-100: #f6f1fd;
  --color-tertiary-200: #c9badc;
  --color-tertiary-400: var(--color-tertiary);
  --color-tertiary-600: #64468b;

  --color-blue: #2962ff;
  --color-blue-100: #dee7ff;
  --color-blue-400: var(--color-blue);

  --color-warning: #B11030;
  --color-warning-100: #fae6e8;
  --color-warning-200: #f4cace;
  --color-warning-400: var(--color-warning);
  --color-warning-600: #68000d;

  --color-success: #2f943b;
  --color-success-100: #e6fae8;
  --color-success-400: var(--color-success);
  --color-success-600: #00600c;

  --color-neutral-white: #ffffff;
  --color-neutral-black: #242221;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f7f7f7;
  --color-neutral-300: #eeeeee;
  --color-neutral-400: #dbdddb;
  --color-neutral-500: #bdbdbd;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #3e3e3e;

  --color-light-primary: var(--color-neutral-white);
  --color-light-secondary: var(--color-secondary-200);
  --color-light-tertiary: var(--color-tertiary-100);
  --color-light-text: var(--color-neutral-black);
  --color-light-background: var(--color-primary-100);
    
  --color-dark-primary: var(--color-neutral-black);
  --color-dark-secondary: var(--color-secondary-700);
  --color-dark-tertiary: var(--color-tertiary-600);
  --color-dark-text: var(--color-neutral-white);
  --color-dark-background: var(--color-neutral-800);
    
  color-scheme: dark;
  --color-main-primary: light-dark(var(--color-light-primary), var(--color-dark-primary));
  --color-main-secondary: light-dark(var(--color-light-secondary), var(--color-dark-secondary));
  --color-main-tertiary: light-dark(var(--color-light-tertiary), var(--color-dark-tertiary));
  --color-main-text: light-dark(var(--color-light-text), var(--color-dark-text));
  --color-main-background: light-dark(var(--color-light-background), var(--color-dark-background));

  &[data-theme='light'] {
    color-scheme: light;
  }
  &[data-theme='dark'] {
    color-scheme: dark;
  }

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-main-background);
    color: var(--color-main-text);
}

.main-container {
    padding: 24px;
}

.main-container--flex {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    flex-direction: column;
}

.main-container__description {
    margin-top: 0;
}

.btn {
    padding: 12px 20px;
    font-size: 1.2rem;
    line-height: 1.2;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-neutral-black);
    text-decoration: none;
    background-color: var(--color-neutral-white);
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover{
        background-color: rgb(160,160,160,1);
    }
}